.table-tasks{
	background:#f5f5f5;
}
table.highlight>tbody>tr:hover{
	background-color: white;
}
.task-edit-ico{
	cursor: pointer;
	color:green;
}
.remove-task-btn{
	cursor: pointer;
	color:red;
}

.modal {
	overflow-x: hidden;
	overflow-y: scroll;
}
.form-container{
	margin-top:50px !important;
}
.top-modal{
	top:0 !important;
	will-change:top opacity !important;
}
#modal2{
	height:200px;
}
.color-gray{
	color:#cececece !important;
}
.text-center{
	text-align: center !important;
}

#deleteTasks{
	width:100%;
}